body {
  margin: 0;
  background: #fefefe;
}

ul {
  padding-left: 0;

  list-style: none;
}

.home-nav {
  border-bottom: 0.1rem #ddd solid;
}

.home-nav__logo {
  display: inline-block;
}

.nav-list {
  display: inline-block;
}

.nav-list__item {
  display: inline-block;
}
