body {
  background: red;
}

ul {
  padding-left: 0;

  list-style: none;
}

li {
  font-size: 40px;
}

/* Select all elements
  li within ul elements */
ul .nav-list__item {
  color: blue;
}

.nav-list__item {
  font-size: 20px;

  color: green
}

ul .foo {
  color: black;
}
